language: java
jdk:
  - oraclejdk7
before_script:
  - "./decrypt.sh"
  - "export JAVA_OPTS=-Xmx512m"
install:
  - ./cmds/ci/install.sh
script:
  - "mvn test -B -Dit -Drepoz.gcs.bucket=cz-repoz-test-travisci && ./cmds/prod/update-ci.sh"
cache:
  directories:
  - $HOME/.m2
