body { font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

#wrapper { padding-left: 10px; padding-top: 10px }

h2 { font-size: 23px; padding: 10px 0; border-bottom: 1px dotted; }

.content p { padding: 5px 30px; }

.code { white-space: pre; padding: 5px 30px; background-color: #ccc; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

