body { font: 15px arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

a,
a:visited { color: #0000CC }

h2 { font-size: 23px; padding: 10px 0; border-bottom: 1px dotted; }

h1 { font-size: 37px; padding: 10px 0; border-bottom: 1px dotted; }

#wrapper { max-width: 1000px; min-width: 200px; margin: 0 auto; padding-bottom: 200px }

.summary { padding-left: 30px }

.summary li { padding: 5px 0 }

.content p { padding: 5px 30px; }
.content p.highlighted { font-weight: bold; }

textarea.code { background-color: #EEEEEE; border: 1px dotted #AAAAAA; color: #444444; font: 15px Consolas,"Liberation Mono",Menlo,Courier,monospace; margin: 0 30px; resize: none; white-space: pre; width: 900px; padding-top: 19px; padding-left: 10px }

.menu a { padding: 0 20px }

.face { padding-top: 30px  }

